In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('reuters1003.xlsx').fillna(0)

In [3]:
data['die']=data['die'].astype(int)
data['wound']=data['wound'].astype(int)

In [4]:
data['date']=pd.to_datetime(data['date'])

In [5]:
data['time']=data['date']
data['date']=data['time'].dt.date

In [6]:
data=data.drop_duplicates('title')
data=data.drop_duplicates(['date','die'])

In [51]:
out=open('index.html','w')

In [52]:
out.write('''
    <html>
        <head></head>
        <body>
        <table border="1" cellspacing="0">
        <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Title</th>
        <th>Number of deaths</th>
        <th>Number of injuries</th>
        <th>Region</th>
        <th>Country</th>
        <th>Nightlight</th>
        <th>Prediction</th>
        <th>Correct</th>
        <th width="400">Visualization</th>
    </tr>
    ''')

429

In [37]:
CO=pd.read_excel("CO/Columbia_osa.xlsx")
CO['country']='Columbia'

In [38]:
IS=pd.read_excel("IL/Israel_osa.xlsx")
IS['country']='Israel'

In [39]:
ES=pd.read_excel("ES/Spain_osa.xlsx")
ES['country']='Spain'

In [40]:
treedata=pd.concat([CO,IS,ES])

/Users/sway/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [41]:
treedata=IS

In [42]:
treedata=treedata.sort_values('Timestamp').reset_index()

In [43]:
treedata.Timestamp=treedata.Timestamp.dt.date

In [50]:
treedata['target1']=treedata['target'].map(lambda x:{True:'Down',False:'Up'}[x])

In [53]:
aaa={True:'âˆš',False:''}

In [54]:
for i in treedata.index:
    if treedata['country'][i]=='Israel':
        temp_news=data.loc[data['date']==treedata['Timestamp'][i]].loc[data['country']=='IL'].sort_values('time')
        if len(temp_news)==0:
            continue
        date=treedata['Timestamp'][i].strftime('%Y-%m-%d')
        time=temp_news['time'].iloc[0].strftime('%mM:%S')
        title=temp_news['title'].iloc[0]
        deaths=temp_news['die'].iloc[0]
        injuries=temp_news['wound'].iloc[0]
        city=temp_news['location'].iloc[0]
        NEG=treedata.target[i]
        result=treedata.pred[i]
        URL='IL\%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))
        out.write('''
<tr>
    <th rowspan="{length}">{date}</th>
    <th>{time}</th>
    <th>{title}</th>
    <th>{deaths}</th>
    <th>{injuries}</th>
    <th>{city}</th>
    <th rowspan="{length}">Israel</th>
    <th rowspan="{length}">{NL}</th>
    <th rowspan="{length}">{Target}</th>
    <th rowspan="{length}">{Correct}</th>
    <th rowspan="{length}"><a href="{URL}"><img width="400" src="{URL}.png"></a></th>
</tr>
'''.format(Target=treedata['target1'][i],Correct=aaa[(treedata['pred'][i]==treedata['target'][i])],NL=treedata['nightlight'][i],length=len(temp_news),date=treedata['Timestamp'][i].strftime('%Y-%m-%d'),time=temp_news['time'].iloc[0].strftime('%H:%M'),title=temp_news['title'].iloc[0],deaths=temp_news['die'].iloc[0],injuries=temp_news['wound'].iloc[0],city=temp_news['location'].iloc[0],NEG=treedata.target[i],result=treedata.pred[i],URL='IL\%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))))
        if len(temp_news>1):
            for j in range(1,len(temp_news)):
                    out.write('''<tr><th>{time}</th>
                    <th>{title}</th>
                    <th>{deaths}</th>
                    <th>{injuries}</th>
                    <th>{city}</th></tr>'''.format(time=temp_news['time'].iloc[j].strftime('%H:%M'),title=temp_news['title'].iloc[j],deaths=temp_news['die'].iloc[j],injuries=temp_news['wound'].iloc[j],city=temp_news['location'].iloc[j]))
    if treedata['country'][i]=='Columbia':
        temp_news=data.loc[data['date']==treedata['Timestamp'][i]].loc[data['country']=='CO'].sort_values('time')
        if len(temp_news)==0:
            continue
        date=treedata['Timestamp'][i].strftime('%Y-%m-%d')
        time=temp_news['time'].iloc[0].strftime('%mM:%S')
        title=temp_news['title'].iloc[0]
        deaths=temp_news['die'].iloc[0]
        injuries=temp_news['wound'].iloc[0]
        city=temp_news['location'].iloc[0]
        NEG=treedata.target[i]
        result=treedata.pred[i]
        URL='IL\%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))
        out.write('''
<tr>
    <th rowspan="{length}">{date}</th>
    <th>{time}</th>
    <th>{title}</th>
    <th>{deaths}</th>
    <th>{injuries}</th>
    <th>{city}</th>
    <th rowspan="{length}">Columbia</th>
    <th rowspan="{length}">{NL}</th>
    <th rowspan="{length}"><a href="{URL}"><img width="400" src="CO\{URL}.png"></a></th>
</tr>
'''.format(NL=treedata['nightlight'][i],length=len(temp_news),date=treedata['Timestamp'][i].strftime('%Y-%m-%d'),time=temp_news['time'].iloc[0].strftime('%H:%M'),title=temp_news['title'].iloc[0],deaths=temp_news['die'].iloc[0],injuries=temp_news['wound'].iloc[0],city=temp_news['location'].iloc[0],NEG=treedata.target[i],result=treedata.pred[i],URL='%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))))
        if len(temp_news>1):
            for j in range(1,len(temp_news)):
                    out.write('''<tr><th>{time}</th>
                    <th>{title}</th>
                    <th>{deaths}</th>
                    <th>{injuries}</th>
                    <th>{city}</th></tr>'''.format(time=temp_news['time'].iloc[j].strftime('%H:%M'),title=temp_news['title'].iloc[j],deaths=temp_news['die'].iloc[j],injuries=temp_news['wound'].iloc[j],city=temp_news['location'].iloc[j]))
    if treedata['country'][i]=='Spain':
        temp_news=data.loc[data['date']==treedata['Timestamp'][i]].loc[data['country']=='ES'].sort_values('time')
        if len(temp_news)==0:
            continue
        date=treedata['Timestamp'][i].strftime('%Y-%m-%d')
        time=temp_news['time'].iloc[0].strftime('%mM:%S')
        title=temp_news['title'].iloc[0]
        deaths=temp_news['die'].iloc[0]
        injuries=temp_news['wound'].iloc[0]
        city=temp_news['location'].iloc[0]
        NEG=treedata.target[i]
        result=treedata.pred[i]
        URL='IL\%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))
        out.write('''
<tr>
    <th rowspan="{length}">{date}</th>
    <th>{time}</th>
    <th>{title}</th>
    <th>{deaths}</th>
    <th>{injuries}</th>
    <th>{city}</th>
    <th rowspan="{length}">Spain</th>
    <th rowspan="{length}">{NL}</th>
    <th rowspan="{length}"><a href="{URL}"><img width="400" src="ES\{URL}.png"></a></th>
</tr>
'''.format(NL=treedata['nightlight'][i],length=len(temp_news),date=treedata['Timestamp'][i].strftime('%Y-%m-%d'),time=temp_news['time'].iloc[0].strftime('%H:%M'),title=temp_news['title'].iloc[0],deaths=temp_news['die'].iloc[0],injuries=temp_news['wound'].iloc[0],city=temp_news['location'].iloc[0],NEG=treedata.target[i],result=treedata.pred[i],URL='%s'%(treedata.Timestamp[i].strftime('%Y-%m-%d'))))
        if len(temp_news>1):
            for j in range(1,len(temp_news)):
                    out.write('''<tr><th>{time}</th>
                    <th>{title}</th>
                    <th>{deaths}</th>
                    <th>{injuries}</th>
                    <th>{city}</th></tr>'''.format(time=temp_news['time'].iloc[j].strftime('%H:%M'),title=temp_news['title'].iloc[j],deaths=temp_news['die'].iloc[j],injuries=temp_news['wound'].iloc[j],city=temp_news['location'].iloc[j]))

In [55]:
out.write('''
</table></body>''')

16

In [56]:
out.close()

In [49]:
treedata

,level_0,index,Timestamp,Gaza Strip,Jerusalem,POPGPW_2005_40,Southern,Tel Aviv,West Bank,capital,...,sum_occur_count,logdiff_sp500,logdiff_sp500_1,logdiff_sp500_2,twologdiff_is100_1,twologdiff_is100_2,target,pred,country,target1
0,0,681,2007-01-29,0,0,781.168206,2,0,0,0,...,0,True,True,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
1,1,684,2007-02-06,0,0,390.584103,0,0,0,0,...,0,False,True,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
2,2,687,2007-04-10,0,0,1934.545775,0,1,0,0,...,1,False,False,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
3,3,690,2007-04-30,0,0,390.584103,1,0,0,0,...,0,True,True,True,True,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
4,4,692,2007-05-02,0,0,1171.752309,3,0,0,0,...,1,False,False,True,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
5,5,694,2007-05-15,0,0,390.584103,1,0,0,0,...,0,True,True,False,True,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
6,6,695,2007-05-16,0,0,390.584103,1,0,0,0,...,1,False,True,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
7,7,697,2007-05-21,0,0,1952.920515,5,0,0,0,...,2,False,False,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
8,8,698,2007-05-29,0,0,390.584103,1,0,0,0,...,3,False,False,True,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
9,9,699,2007-05-30,0,0,1171.752309,3,0,0,0,...,2,False,False,False,True,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
10,10,701,2007-06-14,0,0,390.584103,1,0,0,0,...,0,False,False,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
11,11,703,2007-06-20,0,0,390.584103,1,0,0,0,...,0,True,False,True,True,True,True,False,Israel,"{True: 'Down', False: 'Up'}"
12,12,705,2007-06-26,0,0,781.168206,2,0,0,0,...,0,True,True,True,True,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
13,13,706,2007-06-27,0,0,1171.752309,3,0,0,0,...,2,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
14,14,708,2007-07-05,0,0,781.168206,2,0,0,0,...,2,False,False,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
15,15,710,2007-07-11,0,0,781.168206,2,0,0,0,...,0,False,True,False,True,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
16,16,712,2007-07-23,0,0,390.584103,1,0,0,0,...,0,False,True,False,True,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
17,17,714,2007-07-30,0,0,781.168206,2,0,0,0,...,0,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
18,18,716,2007-08-01,0,0,390.584103,1,0,0,0,...,2,False,True,False,True,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
19,19,718,2007-08-06,0,0,781.168206,2,0,0,0,...,0,False,True,False,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
20,20,719,2007-08-07,0,0,390.584103,1,0,0,0,...,2,False,False,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
21,21,720,2007-08-08,0,0,390.584103,1,0,0,0,...,3,False,False,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
22,22,722,2007-08-14,1,0,781.168206,1,0,0,0,...,0,True,True,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
23,23,725,2007-08-21,0,0,781.168206,2,0,0,0,...,0,False,True,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
24,24,728,2007-08-27,0,0,390.584103,1,0,0,0,...,1,True,False,True,False,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
25,25,731,2007-09-06,0,0,1171.752309,3,0,0,0,...,0,False,True,False,True,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
26,26,733,2007-09-11,0,0,781.168206,2,0,0,0,...,0,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
27,27,734,2007-09-24,0,0,3869.091550,0,2,0,0,...,0,True,False,True,False,True,False,True,Israel,"{True: 'Down', False: 'Up'}"
28,28,738,2007-10-17,0,0,781.168206,2,0,0,0,...,0,False,True,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
29,29,740,2007-10-23,0,0,390.584103,1,0,0,0,...,0,False,False,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,159,1026,2014-03-11,0,0,390.584103,1,0,0,0,...,0,True,True,False,False,True,False,True,Israel,"{True: 'Down', False: 'Up'}"
160,160,1029,2014-06-30,0,0,390.584103,1,0,0,0,...,1,True,False,True,False,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
161,161,1032,2014-07-07,0,0,781.168206,2,0,0,0,...,0,True,False,False,True,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
162,162,1033,2014-07-08,0,1,1171.752309,2,0,0,0,...,2,True,True,False,True,True,True,True,Israel,"{True: 'Down', False: 'Up'}"
163,163,1034,2014-07-09,0,0,390.584103,1,0,0,0,...,5,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
164,164,1036,2014-07-14,0,0,781.168206,1,0,0,0,...,0,False,False,True,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
165,165,1038,2014-07-16,0,0,390.584103,1,0,0,0,...,2,False,True,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
166,166,1040,2014-07-21,0,0,1562.336412,4,0,0,0,...,2,True,False,True,True,True,False,True,Israel,"{True: 'Down', False: 'Up'}"
167,167,1042,2014-07-23,0,0,390.584103,1,0,0,0,...,4,False,False,True,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
168,168,1043,2014-07-24,0,0,1171.752309,2,0,1,0,...,1,False,False,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
169,169,1044,2014-07-28,0,0,781.168206,2,0,0,0,...,3,False,True,False,False,True,True,False,Israel,"{True: 'Down', False: 'Up'}"
170,170,1050,2014-08-20,0,0,390.584103,1,0,0,0,...,0,False,False,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
171,171,1052,2014-08-25,0,0,781.168206,2,0,0,0,...,2,False,True,False,True,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
172,172,1055,2014-12-22,0,0,390.584103,1,0,0,0,...,0,False,False,False,False,False,True,False,Israel,"{True: 'Down', False: 'Up'}"
173,173,1059,2015-08-24,0,0,230.170735,0,0,0,0,...,0,True,True,True,True,True,True,True,Israel,"{True: 'Down', False: 'Up'}"
174,174,1062,2016-01-04,0,0,1934.545775,0,1,0,0,...,0,True,True,True,True,True,True,True,Israel,"{True: 'Down', False: 'Up'}"
175,175,1065,2016-01-11,0,0,390.584103,0,0,0,0,...,0,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
176,176,1068,2016-03-14,0,1,1171.752309,2,0,0,0,...,0,True,False,False,False,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
177,177,1073,2016-06-09,0,0,1934.545775,0,1,0,0,...,0,True,False,False,True,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
178,178,1075,2016-09-12,0,0,390.584103,1,0,0,0,...,0,False,True,True,True,True,False,False,Israel,"{True: 'Down', False: 'Up'}"
179,179,1078,2016-09-19,0,1,248.554486,0,0,0,1,...,0,True,True,False,False,False,False,True,Israel,"{True: 'Down', False: 'Up'}"
180,180,1081,2016-11-21,0,0,390.584103,1,0,0,0,...,0,False,True,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
181,181,1084,2017-02-28,0,0,390.584103,1,0,0,0,...,0,True,False,False,True,True,True,True,Israel,"{True: 'Down', False: 'Up'}"
182,182,1087,2017-03-14,0,1,248.554486,0,0,0,1,...,0,True,False,False,False,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
183,183,1090,2017-04-24,0,0,1934.545775,0,1,0,0,...,0,False,True,False,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"
184,184,1093,2017-06-26,0,0,1934.545775,0,0,0,0,...,0,False,False,True,False,True,True,False,Israel,"{True: 'Down', False: 'Up'}"
185,185,1096,2017-07-17,0,1,248.554486,0,0,0,1,...,0,True,False,False,False,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
186,186,1099,2017-11-01,0,0,390.584103,1,0,0,0,...,0,False,False,True,False,True,True,False,Israel,"{True: 'Down', False: 'Up'}"
187,187,1101,2017-12-13,0,0,781.168206,2,0,0,0,...,0,True,False,False,False,False,True,True,Israel,"{True: 'Down', False: 'Up'}"
188,188,1103,2017-12-18,0,1,248.554486,0,0,0,1,...,0,False,False,True,False,False,False,False,Israel,"{True: 'Down', False: 'Up'}"